@charset "utf-8";


$font-awesome-enable-bootstrap-support: false;
$font-awesome-enable-ie7-support: false;
$font-awesome-enable-utilities-classes: true;
$font-awesome-enable-extras-classes: true;

@import "font-awesome";
