@charset "utf-8";


@import "compass/css3/opacity";
@import "compass/css3/border-radius";

@import "app/colors";


@mixin panel($type: "standard") {
  color: $white;
  background-color: rgba($grey_dark, 0.36);

  $radius: 0.6em;

  @if ($type == "standard") {
    @include border-radius($radius);
  } @else if ($type == "bottom") {
    @include border-top-left-radius($radius);
    @include border-top-right-radius($radius);
  } @else if ($type == "top") {
    @include border-bottom-left-radius($radius);
    @include border-bottom-right-radius($radius);
  }
}
